npm-debug.log
node_modules
Release
Debug
build
out
.deps
.ref
test/tmp
*.*~
*.py[co]
*.dylib
*.so
*.o
*.obj
*.lo
*.Makefile
*.target.gyp.mk
Makefile.gyp
gyp-mac-tool
.dirstamp
.lock-wscript
.DS_Store
Thumbs.db
Desktop.ini
